/*
================
SEARCH BAR
================
*/

main {
  /*border: 2px solid;*/
  margin: auto;
}

#logo {
  display: block;
  margin: auto;
}

#searchbar {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 6px auto;
  width: 482px;
}

#searchbar:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

#searchinput {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 5px 0 0 0;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  tap-highlight-color: transparent;
  height: 34px;
  font-size: 16px;
}

#searchicon {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin: auto;
  margin-top: 12px;
  margin-left: 12px;
  color: #9AA0A6;
  height: 20px;
  width: 20px;
}

#searchform {
  display: block;
  width: 571px;
  height: 70px;
  margin: auto;
}

.searchbutton {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.searchbutton:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

#search {
  padding-top: 25vmin;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

.navitem {
  display: inline-block;
  padding-top: 10px;
}

.navlink {
  font-size: 13px;
  font-family: arial,sans-serif;
  padding: 8px;
  text-align: center;
  color: #000;
  opacity: 0.75;
  text-decoration: none
}

.navlink:hover {
  text-decoration: underline;
}

#gmail {
  margin-left: 75vw;
}

#apps {
  background-image: url('//ssl.gstatic.com/gb/images/i2_2ec824b0.png');
}

#appsicon {
  width: 22px;
  height: 22px;
  margin-bottom: -5px;
}

#profile {
  background-size: 32px 32px;
  border-radius: 50%;
  display: block;
  margin-top: -15px;
  margin-bottom: -22px;
  margin-left: 5px;
  overflow: hidden;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 0;
}
